
html {
box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}



body {
    background: linear-gradient(#135dd8,#228b22);
    color: transparent;
}

.jumbotron {
    background-color: transparent;
}

